.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .formContainer button:active {
    scale: 0.95;
  }
  
  .formContainer .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .formContainer .formGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
  }
  
  /* .formContainer .formGroup label {
    display: flex;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  } */

  .formContainer .formGroup input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .formContainer .formGroup textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .formContainer .formGroup input::placeholder {
    opacity: 0.5;
  }
  
  .formContainer .formGroup input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .formContainer .formGroup textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .formContainer .formSubmitBtn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 50%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .formContainer .formSubmitBtn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  
  