.contenedorCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    padding: 25px 25px 25px 25px;
    gap: 25px;
}

.paginado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.wrapperButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    gap: 20px;
    
}