.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; */
    background-color: #F4538A;
    border-radius: 10px;
    padding: 10px;
    color: #FAF0E6;
    max-width: 100%;

}

.form1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.group {
    position: relative;
    padding-right: 2rem;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 20px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #FAF0E6;
    background: transparent;
    color: #FAF0E6;
   }
   
   .input:focus {
    outline: none;
   }
   
   label {
    color: #FAF0E6;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #FAF0E6;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #FAF0E6;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }

/* css para el boton */
.cssbuttonsIo {
  height: 60px;
  margin: 10px 0px 0px 0px;
  width: 200px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
  border: solid #404c5d 1px;
  font-size: 20px;
  color: #5C5470;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #F5DD61, #FAA300);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #F5DD61, inset -5px -5px 10px #F5DD61;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #F5DD61, inset -5px -5px 10px #F5DD61;
  }
  
  .cssbuttonsIo:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: white;
    -webkit-transition: 500ms;
    transition: 500ms
  }
  
  .cssbuttonsIo:active {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }

  .groupButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }